*{
	box-sizing: border-box;
}

html,
body{
	height: 100vh;
  	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-image: url(../assets/TEAM.PNG);
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

:root{
	--purpleColor: #8941C4;
	--greenColor : #62E52C;
	--grayColor: #253746;
	--orangeColor: #f67b27;
	--blueColor: #22A6F5;
	--bluelightColor: #2BDDD7;
	--pinkColor: #E32E7F;

	--font: 'Open Sans', sans-serif;
}



