*{
	box-sizing: border-box;
}

html,
body{
	height: 100vh;
  	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

:root{

	--greenColor : #62E52C;
	--grayColor: #253746;

	--font: 'Open Sans', sans-serif;
}



