*{
	box-sizing: border-box;
}

html,
body{
	height: 100vh;
  	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-image: url(../assets/TEAM.PNG);
	background-repeat: no-repeat;
	background-size: cover;
}

:root{

	--greenColor : #62E52C;
	--grayColor: #253746;
	--orangeColor: #f67b27;

	--font: 'Open Sans', sans-serif;
}



