.container-employee{
    margin: 2rem auto;
    background: rgba(37,55, 70, 0.8);
    width: 50%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 2px 2px black;
    border-radius: 5px;
}

.container-date{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--font);
}

.name-employee{
    font-size: 35px;
    font-weight: 800;
    color: white;
}

.img-employee{
    border: 1px solid black;
    border-radius: 3px;
}

.points-employee{
    color: white;
    font-size: 22px;
}

.area-employee{
    font-size: 30px;
    text-decoration: underline;
    font-weight: bold;
}

.job-employee{
    font-size: 20px;
}

.container-butons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font);
}

.buton-employee-edit{
    font-size: 18px;
    font-weight: bold;
    margin: 2rem;
    width: 7rem;
    height: 3rem;
    border: 3px solid white;
    border-radius: 50px;
    background: none;
    text-align: center;
    color: white;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.buton-employee-edit:focus{
    outline: none;
}

.buton-employee-edit:hover{
    background: white;
    color: var(--greenColor);
    transition: 0.5seg;
}

.buton-employee-delete{
    font-size: 18px;
    font-weight: bold;
    margin: 0.3rem;
    width: 7rem;
    height: 3rem;
    border: 3px solid white;
    border-radius: 50px;
    background: none;
    text-align: center;
    color: white;
    transition: all 0.3s ease-in;
    cursor: pointer;
}

.buton-employee-delete:focus{
    outline: none;
}

.buton-employee-delete:hover{
    background: white;
    color: var(--orangeColor);
    transition: 0.5seg;
}


