.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(37, 55, 70, .7);
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font);
}

.add-achievement{
    width: 80%;
}

.add-achievement-title{
    font-size: 68px;
    font-weight: 800;
    color: white;
    text-align: center;
}