.form-achievement{
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-achievement h2{
    font-size: 28px;
    font-weight: 800;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}