.div-employee{
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
}