.container-search{
    font-family: var(--font);
}

.label-search{
    margin-right: 6rem;
    font-family: var(--font);
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
}

.input-search{
    font-size: 18px;
    width: 18rem;
    height: 3rem;
    border-radius: 30px;
    border: none;
    text-align: center;
}

.input-search:focus{
    outline: none;
    border: 2px solid black;
}