.container-element{
    width: 180px;
    height: 250px;
    padding: 0.5rem;
    margin: 0.8rem;
    box-shadow: 0 0 3px 3px black;
    border-radius: 8px;
    background: var(--grayColor);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-family: var(--font);
    transition: all ease 1.2s;
}

.container-element:hover{
    transform: rotateY(180deg);
}


.name-element{
    margin: 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.img-element{
    width: 100%;
    margin: 0.3rem;
    border-radius: 5px;
    border: 1px solid black;
}

.points-element{
    margin: 0;
    text-decoration: none;
}

NavLink{
    text-decoration: none;
}