.container-element{
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: 12px;
    background: whitesmoke;


    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
}

.name-element{
    width: 100%;
    text-align: center;
}

.img-element{
    width: 320px;
    height: 200px;
    padding: 20px;
}