.container-achievement{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font);
    background: rgba(37, 55, 70, .7);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px 30px;
    box-shadow: 0px 0px 5px white;
    transition: all ease-in .2s;
}

.container-achievement:hover{
    transform: scale(1.05);
    background: rgba(37, 55, 70, .9);
}

.container-name-achievement{
    width: 80%;
}

.name-achievement{
    font-size: 26px;
    color: white;
    letter-spacing: 3px;
}

.points-achievement{
    font-size: 20px;
    margin-left: 2rem;
    color: tomato;
}

.button-achievement{
    margin: 0.3rem;
}

.container-achievement-buttons{
    display: flex;
    justify-content: space-between;
    width: 180px;
}

[class^="button-achievement-"]{
    width: 80px;
    background: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    border: 3px solid white;
    border-radius: 50px;
    text-align: center;
    color: white;
    transition: all 0.3s ease-in;
}

[class^="button-achievement-"]:focus{
    outline: none;
}

.button-achievement-edit:hover{
    background: white;
    color: var(--greenColor);
    transition: 0.5seg;
}

.button-achievement-delete:hover{
    background: white;
    color: var(--orangeColor);
    transition: 0.5seg;
}